* {
    box-sizing: border-box;
  }

  body {
      background-color: #e5e5e5;
  }

h1 {
    font-family: 'Righteous', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    letter-spacing: -0.012em;
    color: #FFFFFF;
}

h2 {
    font-family: 'Righteous', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    letter-spacing: 0.018em;
    color: #333333;
    line-height: 32px;
    margin-left: 19px;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.018em;
    color: #FFFFFF;
    line-height: 21px;
}

h3 small {
    font-size: 16px;
}

h4 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #333333;
    line-height: 19px;
    margin-bottom: 4px;
}

h5 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    color: #A6A6A6;
    line-height: 18px;
    margin-bottom: 5px;
}

h6 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
    line-height: 19px;
}

header {
    width: 414px;
    height: 92px;
    background-color: #CF2B2B;
    padding-top: 8px;
    padding-left: 21px;
    padding-bottom: 18px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 31px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: fixed;
    top: 0;
    left: 0;
}

.category {
    width: 100%;
    padding-top: 17px;
    padding-left: 19px;
    padding-bottom: 27px;
    background-color: #e5e5e5;
    display: flex;
    align-items: center;
    overflow-x: scroll;
  } 

.option {
    width: 172px;
    height: 216px;
    border-radius: 9px;
    background-color: #FFFFFF;
    padding: 18px 14px 8px 14px;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
    margin-right: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-shrink: 0;
}

.option:last-child {
    margin-right: 0;
}

img {
    width: 144px;
    height: 82px;
    border-radius: 4px;
    margin-bottom: 8px;
    object-fit: cover;
    align-self: flex-start;
}

footer {
    width: 414px;
    height: 92px;
    background-color: #FFFFFF;
    padding-top: 15px;
    padding-left: 25px;
    padding-bottom: 16px;
    padding-right: 25px;
    margin-top: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
}

.button-shape {
    width: 364px;
    height: 61px;
    border-radius: 50px;
    background-color: #cbcbcb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-shape h3 {
    font-size: 20px;
    color: #FFFFFF;
    letter-spacing: 0.018em;
    line-height: 23px;
}

.selected {
    border: 4px solid #32B72F;
}

.enabledButton {
    background-color: #32B72F;
}
