.roboto-font {
    font-family: 'Roboto', sans-serif;
}

.righteous-font-categories {
    font-family: 'Righteous', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 0.018em;
    color: #333333;
}

h1 {
    font-family: 'Righteous', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 44px;
    line-height: 55px;
    letter-spacing: -0.012em;
    color: #FFFFFF;
}